AcmeAnnuityWeb/src/main/resources/wsdl/AnnuityMgmtSvcEJB30JAXWSImpl.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:27 AM(foreman)-. -->
<definitions targetNamespace="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/" name="AnnuityMgmtSvcEJB30JAXWSImpl" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/" schemaLocation="AnnuityMgmtSvcEJB30JAXWSImpl_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://bean.common.annuity.acme.wssvt.ibm.com/jaxbjpa/" schemaLocation="AnnuityMgmtSvcEJB30JAXWSImpl_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="createAnnuity">
    <part name="parameters" element="tns:createAnnuity"/>
  </message>
  <message name="createAnnuityResponse">
    <part name="parameters" element="tns:createAnnuityResponse"/>
  </message>
  <message name="ServerBusinessModuleException">
    <part name="fault" element="tns:ServerBusinessModuleException"/>
  </message>
  <message name="ServerPersistenceModuleException">
    <part name="fault" element="tns:ServerPersistenceModuleException"/>
  </message>
  <message name="EntityAlreadyExistsException">
    <part name="fault" element="tns:EntityAlreadyExistsException"/>
  </message>
  <message name="InvalidArgumentException">
    <part name="fault" element="tns:InvalidArgumentException"/>
  </message>
  <message name="updateAnnuity">
    <part name="parameters" element="tns:updateAnnuity"/>
  </message>
  <message name="updateAnnuityResponse">
    <part name="parameters" element="tns:updateAnnuityResponse"/>
  </message>
  <message name="deleteAnnuity">
    <part name="parameters" element="tns:deleteAnnuity"/>
  </message>
  <message name="deleteAnnuityResponse">
    <part name="parameters" element="tns:deleteAnnuityResponse"/>
  </message>
  <message name="createAnnuityHolder">
    <part name="parameters" element="tns:createAnnuityHolder"/>
  </message>
  <message name="createAnnuityHolderResponse">
    <part name="parameters" element="tns:createAnnuityHolderResponse"/>
  </message>
  <message name="updateAnnuityHolder">
    <part name="parameters" element="tns:updateAnnuityHolder"/>
  </message>
  <message name="updateAnnuityHolderResponse">
    <part name="parameters" element="tns:updateAnnuityHolderResponse"/>
  </message>
  <message name="deleteAnnuityHolder">
    <part name="parameters" element="tns:deleteAnnuityHolder"/>
  </message>
  <message name="deleteAnnuityHolderResponse">
    <part name="parameters" element="tns:deleteAnnuityHolderResponse"/>
  </message>
  <message name="createPayor">
    <part name="parameters" element="tns:createPayor"/>
  </message>
  <message name="createPayorResponse">
    <part name="parameters" element="tns:createPayorResponse"/>
  </message>
  <message name="updatePayor">
    <part name="parameters" element="tns:updatePayor"/>
  </message>
  <message name="updatePayorResponse">
    <part name="parameters" element="tns:updatePayorResponse"/>
  </message>
  <message name="deletePayor">
    <part name="parameters" element="tns:deletePayor"/>
  </message>
  <message name="deletePayorResponse">
    <part name="parameters" element="tns:deletePayorResponse"/>
  </message>
  <message name="createContact">
    <part name="parameters" element="tns:createContact"/>
  </message>
  <message name="createContactResponse">
    <part name="parameters" element="tns:createContactResponse"/>
  </message>
  <message name="updateContact">
    <part name="parameters" element="tns:updateContact"/>
  </message>
  <message name="updateContactResponse">
    <part name="parameters" element="tns:updateContactResponse"/>
  </message>
  <message name="deleteContact">
    <part name="parameters" element="tns:deleteContact"/>
  </message>
  <message name="deleteContactResponse">
    <part name="parameters" element="tns:deleteContactResponse"/>
  </message>
  <message name="createPayout">
    <part name="parameters" element="tns:createPayout"/>
  </message>
  <message name="createPayoutResponse">
    <part name="parameters" element="tns:createPayoutResponse"/>
  </message>
  <message name="updatePayout">
    <part name="parameters" element="tns:updatePayout"/>
  </message>
  <message name="updatePayoutResponse">
    <part name="parameters" element="tns:updatePayoutResponse"/>
  </message>
  <message name="deletePayout">
    <part name="parameters" element="tns:deletePayout"/>
  </message>
  <message name="deletePayoutResponse">
    <part name="parameters" element="tns:deletePayoutResponse"/>
  </message>
  <message name="deleteRider">
    <part name="parameters" element="tns:deleteRider"/>
  </message>
  <message name="deleteRiderResponse">
    <part name="parameters" element="tns:deleteRiderResponse"/>
  </message>
  <message name="findAnnuityById">
    <part name="parameters" element="tns:findAnnuityById"/>
  </message>
  <message name="findAnnuityByIdResponse">
    <part name="parameters" element="tns:findAnnuityByIdResponse"/>
  </message>
  <message name="EntityNotFoundException">
    <part name="fault" element="tns:EntityNotFoundException"/>
  </message>
  <message name="findHolderById">
    <part name="parameters" element="tns:findHolderById"/>
  </message>
  <message name="findHolderByIdResponse">
    <part name="parameters" element="tns:findHolderByIdResponse"/>
  </message>
  <message name="findContactById">
    <part name="parameters" element="tns:findContactById"/>
  </message>
  <message name="findContactByIdResponse">
    <part name="parameters" element="tns:findContactByIdResponse"/>
  </message>
  <message name="findHolderAnnuities">
    <part name="parameters" element="tns:findHolderAnnuities"/>
  </message>
  <message name="findHolderAnnuitiesResponse">
    <part name="parameters" element="tns:findHolderAnnuitiesResponse"/>
  </message>
  <message name="findAnnuityHolder">
    <part name="parameters" element="tns:findAnnuityHolder"/>
  </message>
  <message name="findAnnuityHolderResponse">
    <part name="parameters" element="tns:findAnnuityHolderResponse"/>
  </message>
  <message name="findPayorAnnuities">
    <part name="parameters" element="tns:findPayorAnnuities"/>
  </message>
  <message name="findPayorAnnuitiesResponse">
    <part name="parameters" element="tns:findPayorAnnuitiesResponse"/>
  </message>
  <message name="findPayorById">
    <part name="parameters" element="tns:findPayorById"/>
  </message>
  <message name="findPayorByIdResponse">
    <part name="parameters" element="tns:findPayorByIdResponse"/>
  </message>
  <message name="findPayoutById">
    <part name="parameters" element="tns:findPayoutById"/>
  </message>
  <message name="findPayoutByIdResponse">
    <part name="parameters" element="tns:findPayoutByIdResponse"/>
  </message>
  <message name="findRiderById">
    <part name="parameters" element="tns:findRiderById"/>
  </message>
  <message name="findRiderByIdResponse">
    <part name="parameters" element="tns:findRiderByIdResponse"/>
  </message>
  <portType name="AnnuityMgmtSvcEJB30JAXWS">
    <operation name="createAnnuity">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createAnnuityRequest" message="tns:createAnnuity"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createAnnuityResponse" message="tns:createAnnuityResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createAnnuity/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createAnnuity/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:EntityAlreadyExistsException" name="EntityAlreadyExistsException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createAnnuity/Fault/EntityAlreadyExistsException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createAnnuity/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="updateAnnuity">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateAnnuityRequest" message="tns:updateAnnuity"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateAnnuityResponse" message="tns:updateAnnuityResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateAnnuity/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateAnnuity/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateAnnuity/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="deleteAnnuity">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteAnnuityRequest" message="tns:deleteAnnuity"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteAnnuityResponse" message="tns:deleteAnnuityResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteAnnuity/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteAnnuity/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteAnnuity/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="createAnnuityHolder">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createAnnuityHolderRequest" message="tns:createAnnuityHolder"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createAnnuityHolderResponse" message="tns:createAnnuityHolderResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createAnnuityHolder/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createAnnuityHolder/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:EntityAlreadyExistsException" name="EntityAlreadyExistsException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createAnnuityHolder/Fault/EntityAlreadyExistsException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createAnnuityHolder/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="updateAnnuityHolder">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateAnnuityHolderRequest" message="tns:updateAnnuityHolder"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateAnnuityHolderResponse" message="tns:updateAnnuityHolderResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateAnnuityHolder/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateAnnuityHolder/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateAnnuityHolder/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="deleteAnnuityHolder">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteAnnuityHolderRequest" message="tns:deleteAnnuityHolder"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteAnnuityHolderResponse" message="tns:deleteAnnuityHolderResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteAnnuityHolder/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteAnnuityHolder/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteAnnuityHolder/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="createPayor">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createPayorRequest" message="tns:createPayor"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createPayorResponse" message="tns:createPayorResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createPayor/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createPayor/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:EntityAlreadyExistsException" name="EntityAlreadyExistsException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createPayor/Fault/EntityAlreadyExistsException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createPayor/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="updatePayor">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updatePayorRequest" message="tns:updatePayor"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updatePayorResponse" message="tns:updatePayorResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updatePayor/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updatePayor/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updatePayor/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="deletePayor">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deletePayorRequest" message="tns:deletePayor"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deletePayorResponse" message="tns:deletePayorResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deletePayor/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deletePayor/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deletePayor/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="createContact">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createContactRequest" message="tns:createContact"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createContactResponse" message="tns:createContactResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createContact/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createContact/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:EntityAlreadyExistsException" name="EntityAlreadyExistsException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createContact/Fault/EntityAlreadyExistsException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createContact/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="updateContact">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateContactRequest" message="tns:updateContact"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateContactResponse" message="tns:updateContactResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateContact/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateContact/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updateContact/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="deleteContact">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteContactRequest" message="tns:deleteContact"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteContactResponse" message="tns:deleteContactResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteContact/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteContact/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteContact/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="createPayout">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createPayoutRequest" message="tns:createPayout"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createPayoutResponse" message="tns:createPayoutResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createPayout/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createPayout/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:EntityAlreadyExistsException" name="EntityAlreadyExistsException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createPayout/Fault/EntityAlreadyExistsException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/createPayout/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="updatePayout">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updatePayoutRequest" message="tns:updatePayout"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updatePayoutResponse" message="tns:updatePayoutResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updatePayout/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updatePayout/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/updatePayout/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="deletePayout">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deletePayoutRequest" message="tns:deletePayout"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deletePayoutResponse" message="tns:deletePayoutResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deletePayout/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deletePayout/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deletePayout/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="deleteRider">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteRiderRequest" message="tns:deleteRider"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteRiderResponse" message="tns:deleteRiderResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteRider/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteRider/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/deleteRider/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findAnnuityById">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findAnnuityByIdRequest" message="tns:findAnnuityById"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findAnnuityByIdResponse" message="tns:findAnnuityByIdResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findAnnuityById/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findAnnuityById/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findAnnuityById/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findAnnuityById/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findHolderById">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findHolderByIdRequest" message="tns:findHolderById"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findHolderByIdResponse" message="tns:findHolderByIdResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findHolderById/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findHolderById/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findHolderById/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findHolderById/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findContactById">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findContactByIdRequest" message="tns:findContactById"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findContactByIdResponse" message="tns:findContactByIdResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findContactById/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findContactById/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findContactById/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findContactById/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findHolderAnnuities">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findHolderAnnuitiesRequest" message="tns:findHolderAnnuities"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findHolderAnnuitiesResponse" message="tns:findHolderAnnuitiesResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findHolderAnnuities/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findHolderAnnuities/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findHolderAnnuities/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findAnnuityHolder">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findAnnuityHolderRequest" message="tns:findAnnuityHolder"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findAnnuityHolderResponse" message="tns:findAnnuityHolderResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findAnnuityHolder/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findAnnuityHolder/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findAnnuityHolder/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findAnnuityHolder/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findPayorAnnuities">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayorAnnuitiesRequest" message="tns:findPayorAnnuities"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayorAnnuitiesResponse" message="tns:findPayorAnnuitiesResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayorAnnuities/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayorAnnuities/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayorAnnuities/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findPayorById">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayorByIdRequest" message="tns:findPayorById"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayorByIdResponse" message="tns:findPayorByIdResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayorById/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayorById/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayorById/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayorById/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findPayoutById">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayoutByIdRequest" message="tns:findPayoutById"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayoutByIdResponse" message="tns:findPayoutByIdResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayoutById/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayoutById/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayoutById/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findPayoutById/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findRiderById">
      <input wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findRiderByIdRequest" message="tns:findRiderById"/>
      <output wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findRiderByIdResponse" message="tns:findRiderByIdResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findRiderById/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findRiderById/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findRiderById/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/ejb3impl/AnnuityMgmtSvcEJB30JAXWS/findRiderById/Fault/InvalidArgumentException"/>
    </operation>
  </portType>
  <binding name="AnnuityMgmtSvcEJB3JAXWSImplPortBinding" type="tns:AnnuityMgmtSvcEJB30JAXWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createAnnuity">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="EntityAlreadyExistsException">
        <soap:fault name="EntityAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAnnuity">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteAnnuity">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="createAnnuityHolder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="EntityAlreadyExistsException">
        <soap:fault name="EntityAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAnnuityHolder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteAnnuityHolder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="createPayor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="EntityAlreadyExistsException">
        <soap:fault name="EntityAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="updatePayor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="deletePayor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="createContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="EntityAlreadyExistsException">
        <soap:fault name="EntityAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="createPayout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="EntityAlreadyExistsException">
        <soap:fault name="EntityAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="updatePayout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="deletePayout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteRider">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAnnuityById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHolderById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findContactById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHolderAnnuities">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAnnuityHolder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPayorAnnuities">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPayorById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPayoutById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRiderById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AnnuityMgmtSvcEJB30JAXWSImpl">
    <port name="AnnuityMgmtSvcEJB3JAXWSImplPort" binding="tns:AnnuityMgmtSvcEJB3JAXWSImplPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

