AcmeAnnuityPojoWSes/src/main/webapp/WEB-INF/wsdl/AnnuityMgmtSvcPojoJAXWSImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI IBM 2.2.1-11/28/2011 08:27 AM(foreman)-. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" name="AnnuityMgmtSvcPojoJAXWSImpl" targetNamespace="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/" schemaLocation="AnnuityMgmtSvcPojoJAXWSImpl_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://bean.common.annuity.acme.wssvt.ibm.com/jaxbjpa/" schemaLocation="AnnuityMgmtSvcPojoJAXWSImpl_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="createAnnuity">
    <part element="tns:createAnnuity" name="parameters"/>
  </message>
  <message name="createAnnuityResponse">
    <part element="tns:createAnnuityResponse" name="parameters"/>
  </message>
  <message name="ServerBusinessModuleException">
    <part element="tns:ServerBusinessModuleException" name="fault"/>
  </message>
  <message name="ServerPersistenceModuleException">
    <part element="tns:ServerPersistenceModuleException" name="fault"/>
  </message>
  <message name="EntityAlreadyExistsException">
    <part element="tns:EntityAlreadyExistsException" name="fault"/>
  </message>
  <message name="InvalidArgumentException">
    <part element="tns:InvalidArgumentException" name="fault"/>
  </message>
  <message name="updateAnnuity">
    <part element="tns:updateAnnuity" name="parameters"/>
  </message>
  <message name="updateAnnuityResponse">
    <part element="tns:updateAnnuityResponse" name="parameters"/>
  </message>
  <message name="deleteAnnuity">
    <part element="tns:deleteAnnuity" name="parameters"/>
  </message>
  <message name="deleteAnnuityResponse">
    <part element="tns:deleteAnnuityResponse" name="parameters"/>
  </message>
  <message name="createAnnuityHolder">
    <part element="tns:createAnnuityHolder" name="parameters"/>
  </message>
  <message name="createAnnuityHolderResponse">
    <part element="tns:createAnnuityHolderResponse" name="parameters"/>
  </message>
  <message name="updateAnnuityHolder">
    <part element="tns:updateAnnuityHolder" name="parameters"/>
  </message>
  <message name="updateAnnuityHolderResponse">
    <part element="tns:updateAnnuityHolderResponse" name="parameters"/>
  </message>
  <message name="deleteAnnuityHolder">
    <part element="tns:deleteAnnuityHolder" name="parameters"/>
  </message>
  <message name="deleteAnnuityHolderResponse">
    <part element="tns:deleteAnnuityHolderResponse" name="parameters"/>
  </message>
  <message name="createPayor">
    <part element="tns:createPayor" name="parameters"/>
  </message>
  <message name="createPayorResponse">
    <part element="tns:createPayorResponse" name="parameters"/>
  </message>
  <message name="updatePayor">
    <part element="tns:updatePayor" name="parameters"/>
  </message>
  <message name="updatePayorResponse">
    <part element="tns:updatePayorResponse" name="parameters"/>
  </message>
  <message name="deletePayor">
    <part element="tns:deletePayor" name="parameters"/>
  </message>
  <message name="deletePayorResponse">
    <part element="tns:deletePayorResponse" name="parameters"/>
  </message>
  <message name="createContact">
    <part element="tns:createContact" name="parameters"/>
  </message>
  <message name="createContactResponse">
    <part element="tns:createContactResponse" name="parameters"/>
  </message>
  <message name="updateContact">
    <part element="tns:updateContact" name="parameters"/>
  </message>
  <message name="updateContactResponse">
    <part element="tns:updateContactResponse" name="parameters"/>
  </message>
  <message name="deleteContact">
    <part element="tns:deleteContact" name="parameters"/>
  </message>
  <message name="deleteContactResponse">
    <part element="tns:deleteContactResponse" name="parameters"/>
  </message>
  <message name="createPayout">
    <part element="tns:createPayout" name="parameters"/>
  </message>
  <message name="createPayoutResponse">
    <part element="tns:createPayoutResponse" name="parameters"/>
  </message>
  <message name="updatePayout">
    <part element="tns:updatePayout" name="parameters"/>
  </message>
  <message name="updatePayoutResponse">
    <part element="tns:updatePayoutResponse" name="parameters"/>
  </message>
  <message name="deletePayout">
    <part element="tns:deletePayout" name="parameters"/>
  </message>
  <message name="deletePayoutResponse">
    <part element="tns:deletePayoutResponse" name="parameters"/>
  </message>
  <message name="deleteRider">
    <part element="tns:deleteRider" name="parameters"/>
  </message>
  <message name="deleteRiderResponse">
    <part element="tns:deleteRiderResponse" name="parameters"/>
  </message>
  <message name="findAnnuityById">
    <part element="tns:findAnnuityById" name="parameters"/>
  </message>
  <message name="findAnnuityByIdResponse">
    <part element="tns:findAnnuityByIdResponse" name="parameters"/>
  </message>
  <message name="EntityNotFoundException">
    <part element="tns:EntityNotFoundException" name="fault"/>
  </message>
  <message name="findHolderById">
    <part element="tns:findHolderById" name="parameters"/>
  </message>
  <message name="findHolderByIdResponse">
    <part element="tns:findHolderByIdResponse" name="parameters"/>
  </message>
  <message name="findContactById">
    <part element="tns:findContactById" name="parameters"/>
  </message>
  <message name="findContactByIdResponse">
    <part element="tns:findContactByIdResponse" name="parameters"/>
  </message>
  <message name="findHolderAnnuities">
    <part element="tns:findHolderAnnuities" name="parameters"/>
  </message>
  <message name="findHolderAnnuitiesResponse">
    <part element="tns:findHolderAnnuitiesResponse" name="parameters"/>
  </message>
  <message name="findAnnuityHolder">
    <part element="tns:findAnnuityHolder" name="parameters"/>
  </message>
  <message name="findAnnuityHolderResponse">
    <part element="tns:findAnnuityHolderResponse" name="parameters"/>
  </message>
  <message name="findPayorAnnuities">
    <part element="tns:findPayorAnnuities" name="parameters"/>
  </message>
  <message name="findPayorAnnuitiesResponse">
    <part element="tns:findPayorAnnuitiesResponse" name="parameters"/>
  </message>
  <message name="findPayorById">
    <part element="tns:findPayorById" name="parameters"/>
  </message>
  <message name="findPayorByIdResponse">
    <part element="tns:findPayorByIdResponse" name="parameters"/>
  </message>
  <message name="findPayoutById">
    <part element="tns:findPayoutById" name="parameters"/>
  </message>
  <message name="findPayoutByIdResponse">
    <part element="tns:findPayoutByIdResponse" name="parameters"/>
  </message>
  <message name="findRiderById">
    <part element="tns:findRiderById" name="parameters"/>
  </message>
  <message name="findRiderByIdResponse">
    <part element="tns:findRiderByIdResponse" name="parameters"/>
  </message>
  <portType name="AnnuityMgmtSvcPojoJAXWS">
    <operation name="createAnnuity">
      <input message="tns:createAnnuity" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createAnnuityRequest"/>
      <output message="tns:createAnnuityResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createAnnuityResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createAnnuity/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createAnnuity/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:EntityAlreadyExistsException" name="EntityAlreadyExistsException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createAnnuity/Fault/EntityAlreadyExistsException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createAnnuity/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="updateAnnuity">
      <input message="tns:updateAnnuity" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateAnnuityRequest"/>
      <output message="tns:updateAnnuityResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateAnnuityResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateAnnuity/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateAnnuity/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateAnnuity/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="deleteAnnuity">
      <input message="tns:deleteAnnuity" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteAnnuityRequest"/>
      <output message="tns:deleteAnnuityResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteAnnuityResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteAnnuity/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteAnnuity/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteAnnuity/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="createAnnuityHolder">
      <input message="tns:createAnnuityHolder" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createAnnuityHolderRequest"/>
      <output message="tns:createAnnuityHolderResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createAnnuityHolderResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createAnnuityHolder/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createAnnuityHolder/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:EntityAlreadyExistsException" name="EntityAlreadyExistsException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createAnnuityHolder/Fault/EntityAlreadyExistsException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createAnnuityHolder/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="updateAnnuityHolder">
      <input message="tns:updateAnnuityHolder" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateAnnuityHolderRequest"/>
      <output message="tns:updateAnnuityHolderResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateAnnuityHolderResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateAnnuityHolder/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateAnnuityHolder/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateAnnuityHolder/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="deleteAnnuityHolder">
      <input message="tns:deleteAnnuityHolder" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteAnnuityHolderRequest"/>
      <output message="tns:deleteAnnuityHolderResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteAnnuityHolderResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteAnnuityHolder/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteAnnuityHolder/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteAnnuityHolder/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="createPayor">
      <input message="tns:createPayor" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createPayorRequest"/>
      <output message="tns:createPayorResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createPayorResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createPayor/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createPayor/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:EntityAlreadyExistsException" name="EntityAlreadyExistsException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createPayor/Fault/EntityAlreadyExistsException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createPayor/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="updatePayor">
      <input message="tns:updatePayor" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updatePayorRequest"/>
      <output message="tns:updatePayorResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updatePayorResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updatePayor/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updatePayor/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updatePayor/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="deletePayor">
      <input message="tns:deletePayor" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deletePayorRequest"/>
      <output message="tns:deletePayorResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deletePayorResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deletePayor/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deletePayor/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deletePayor/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="createContact">
      <input message="tns:createContact" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createContactRequest"/>
      <output message="tns:createContactResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createContactResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createContact/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createContact/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:EntityAlreadyExistsException" name="EntityAlreadyExistsException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createContact/Fault/EntityAlreadyExistsException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createContact/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="updateContact">
      <input message="tns:updateContact" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateContactRequest"/>
      <output message="tns:updateContactResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateContactResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateContact/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateContact/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updateContact/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="deleteContact">
      <input message="tns:deleteContact" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteContactRequest"/>
      <output message="tns:deleteContactResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteContactResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteContact/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteContact/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteContact/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="createPayout">
      <input message="tns:createPayout" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createPayoutRequest"/>
      <output message="tns:createPayoutResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createPayoutResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createPayout/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createPayout/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:EntityAlreadyExistsException" name="EntityAlreadyExistsException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createPayout/Fault/EntityAlreadyExistsException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/createPayout/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="updatePayout">
      <input message="tns:updatePayout" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updatePayoutRequest"/>
      <output message="tns:updatePayoutResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updatePayoutResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updatePayout/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updatePayout/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/updatePayout/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="deletePayout">
      <input message="tns:deletePayout" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deletePayoutRequest"/>
      <output message="tns:deletePayoutResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deletePayoutResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deletePayout/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deletePayout/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deletePayout/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="deleteRider">
      <input message="tns:deleteRider" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteRiderRequest"/>
      <output message="tns:deleteRiderResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteRiderResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteRider/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteRider/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/deleteRider/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findAnnuityById">
      <input message="tns:findAnnuityById" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findAnnuityByIdRequest"/>
      <output message="tns:findAnnuityByIdResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findAnnuityByIdResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findAnnuityById/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findAnnuityById/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findAnnuityById/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findAnnuityById/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findHolderById">
      <input message="tns:findHolderById" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findHolderByIdRequest"/>
      <output message="tns:findHolderByIdResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findHolderByIdResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findHolderById/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findHolderById/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findHolderById/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findHolderById/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findContactById">
      <input message="tns:findContactById" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findContactByIdRequest"/>
      <output message="tns:findContactByIdResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findContactByIdResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findContactById/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findContactById/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findContactById/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findContactById/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findHolderAnnuities">
      <input message="tns:findHolderAnnuities" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findHolderAnnuitiesRequest"/>
      <output message="tns:findHolderAnnuitiesResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findHolderAnnuitiesResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findHolderAnnuities/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findHolderAnnuities/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findHolderAnnuities/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findAnnuityHolder">
      <input message="tns:findAnnuityHolder" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findAnnuityHolderRequest"/>
      <output message="tns:findAnnuityHolderResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findAnnuityHolderResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findAnnuityHolder/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findAnnuityHolder/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findAnnuityHolder/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findAnnuityHolder/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findPayorAnnuities">
      <input message="tns:findPayorAnnuities" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayorAnnuitiesRequest"/>
      <output message="tns:findPayorAnnuitiesResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayorAnnuitiesResponse"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayorAnnuities/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayorAnnuities/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayorAnnuities/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findPayorById">
      <input message="tns:findPayorById" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayorByIdRequest"/>
      <output message="tns:findPayorByIdResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayorByIdResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayorById/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayorById/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayorById/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayorById/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findPayoutById">
      <input message="tns:findPayoutById" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayoutByIdRequest"/>
      <output message="tns:findPayoutByIdResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayoutByIdResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayoutById/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayoutById/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayoutById/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findPayoutById/Fault/InvalidArgumentException"/>
    </operation>
    <operation name="findRiderById">
      <input message="tns:findRiderById" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findRiderByIdRequest"/>
      <output message="tns:findRiderByIdResponse" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findRiderByIdResponse"/>
      <fault message="tns:EntityNotFoundException" name="EntityNotFoundException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findRiderById/Fault/EntityNotFoundException"/>
      <fault message="tns:ServerBusinessModuleException" name="ServerBusinessModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findRiderById/Fault/ServerBusinessModuleException"/>
      <fault message="tns:ServerPersistenceModuleException" name="ServerPersistenceModuleException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findRiderById/Fault/ServerPersistenceModuleException"/>
      <fault message="tns:InvalidArgumentException" name="InvalidArgumentException" wsam:Action="http://jaxws.client.common.annuity.acme.wssvt.ibm.com/pojoimpl/AnnuityMgmtSvcPojoJAXWS/findRiderById/Fault/InvalidArgumentException"/>
    </operation>
  </portType>
  <binding name="AnnuityMgmtSvcPojoJAXWSImplPortBinding" type="tns:AnnuityMgmtSvcPojoJAXWS">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createAnnuity">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="EntityAlreadyExistsException">
        <soap:fault name="EntityAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAnnuity">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteAnnuity">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="createAnnuityHolder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="EntityAlreadyExistsException">
        <soap:fault name="EntityAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAnnuityHolder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteAnnuityHolder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="createPayor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="EntityAlreadyExistsException">
        <soap:fault name="EntityAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="updatePayor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="deletePayor">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="createContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="EntityAlreadyExistsException">
        <soap:fault name="EntityAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteContact">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="createPayout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="EntityAlreadyExistsException">
        <soap:fault name="EntityAlreadyExistsException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="updatePayout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="deletePayout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteRider">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAnnuityById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHolderById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findContactById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHolderAnnuities">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAnnuityHolder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPayorAnnuities">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPayorById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPayoutById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRiderById">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="EntityNotFoundException">
        <soap:fault name="EntityNotFoundException" use="literal"/>
      </fault>
      <fault name="ServerBusinessModuleException">
        <soap:fault name="ServerBusinessModuleException" use="literal"/>
      </fault>
      <fault name="ServerPersistenceModuleException">
        <soap:fault name="ServerPersistenceModuleException" use="literal"/>
      </fault>
      <fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AnnuityMgmtSvcPojoJAXWSImpl">
    <port binding="tns:AnnuityMgmtSvcPojoJAXWSImplPortBinding" name="AnnuityMgmtSvcPojoJAXWSImplPort">
      <soap:address location="http://localhost:9080//AnnuityPojoWSes/AnnuityMgmtSvcPojoJAXWSImpl"/>
    </port>
  </service>
</definitions>